In [2]:
# Importing below Python libraries for data analysis
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
# Importing the warnings module for handling warning messages
import warnings
# Ignoring warning messages to prevent interruptions during code execution
warnings.filterwarnings("ignore")
df = pd.read_excel(r"C:\Users\Meghana\Desktop\mini project dataset\linkedin\final_data.xlsx")
df.head()

,job_title,company,job_location,job_link,first_seen,search_city,search_country,job level,job_type,job_summary,job_skills,date_posted
0,Sr. Software Engineer – Distributed Graph Stor...,CrowdStrike,"Nova Scotia, Canada",https://ca.linkedin.com/jobs/view/sr-software-...,12/25/23,Halifax,Canada,Mid senior,Remote,#WeAreCrowdStrike and our mission is to stop b...,"['Go', ' Java', ' Python', ' Git', ' Cassandra...",2024-02-14
1,Java Software Engineer (Var 28),Modis,"Newark, DE",https://www.linkedin.com/jobs/view/java-softwa...,12/25/23,Aberdeen,United States,Mid senior,Onsite,J2EE Developer - JAVA / Full Stack\nContract:\...,"['J2EE', ' Java', ' Struts', ' Spring', ' Spri...",2024-05-13
2,Senior Software Engineer (Backend) (Var 65),SimplyAnalytics,"Toronto, Ontario, Canada",https://ca.linkedin.com/jobs/view/senior-softw...,12/25/23,Etobicoke,Canada,Mid senior,Remote,The Company\nSimplyAnalytics is a powerful spa...,"['PHP', ' Python', ' Dask', ' Dagster', ' Post...",2024-03-08
3,Senior Software Engineer (Var 46),"Changing Technologies, Inc.","Johnston, IA",https://www.linkedin.com/jobs/view/senior-soft...,12/25/23,West Des Moines,United States,Mid senior,Onsite,Job Description\nJob Title - Senior Software E...,"['Java', ' React', ' Springboot', ' AWS', ' No...",2022-04-19
4,Senior Software Engineer with Security Clearan...,ClearanceJobs,"Kirtland, NM",https://www.linkedin.com/jobs/view/senior-soft...,12/25/23,Shiprock,United States,Mid senior,Onsite,LinQuest is seeking a Software Engineer/Develo...,"['C++', ' Python', ' MATLAB', ' Visual Basic',...",2021-10-09

In [3]:
df.shape[0]

89380

In [4]:
# Calculate the number of null values in each column
null_counts = df.isnull().sum()

# Print the results
print(null_counts)

job_title           0
company             0
job_location        0
job_link            0
first_seen          0
search_city         0
search_country      0
job level           0
job_type            0
job_summary        39
job_skills        126
date_posted         0
dtype: int64

In [5]:
# Remove rows with null values
df.dropna(inplace=True)

# Reset the index of the DataFrame
df.reset_index(inplace=True, drop=True)
# Calculate the number of null values in each column
null_counts = df.isnull().sum()

# Print the results
print(null_counts)

job_title         0
company           0
job_location      0
job_link          0
first_seen        0
search_city       0
search_country    0
job level         0
job_type          0
job_summary       0
job_skills        0
date_posted       0
dtype: int64

In [6]:
# Check for duplicates based on all columns
duplicates_all = df[df.duplicated()]
print(duplicates_all)

                                               job_title             company  \
34799  Patent Attorney / Agent / Electrical / Softwar...  IP Recruiter Group
71573                  Senior Software Engineer (Var 95)       Searchability
79656                    .NET Software Engineer (Var 64)    Vector Solutions

                                   job_location  \
34799                            Alexandria, VA
71573  Nottinghamshire, England, United Kingdom
79656                           Bloomington, IN

                                                job_link first_seen  \
34799  https://www.linkedin.com/jobs/view/patent-atto...   12/25/23
71573  https://uk.linkedin.com/jobs/view/senior-softw...   12/25/23
79656  https://www.linkedin.com/jobs/view/net-softwar...   12/25/23

         search_city  search_country   job level job_type  \
34799  Saint Charles   United States   Associate   Onsite
71573          Derby  United Kingdom  Mid senior   Hybrid
79656   Martinsville   United States  Mid senior   Hybrid

                                             job_summary  \
34799  Please Apply Or Inquire Here\nwww.iprecruiter....
71573  .Senior Net Developer\n· Salary up to £50,000\...
79656  Description:\nVector Solutions is the leader i...

                                              job_skills date_posted
34799  ['Patent preparation', ' Patent prosecution', ...  2024-01-11
71573  ['C#', ' .NET', ' SQL', ' SQL Server', ' MySQL...  2020-03-15
79656  ['.NET', ' ASP.NET', ' SQL', ' RDBMS', ' HTTP'...  2022-01-13

In [7]:
df = df.drop_duplicates()
print("Remaining duplicates:", df.duplicated().sum())

Remaining duplicates: 0

In [8]:
# Count the number of unique companies in the 'company' column
unique_companies_count = df['company'].nunique()

# Display the count
print(f"Number of unique companies: {unique_companies_count}")

Number of unique companies: 3369

In [9]:
# Extract unique companies from the 'company' column
unique_companies = df['company'].unique()

# Convert the array to a list (optional)
unique_companies_list = unique_companies.tolist()

# Display the companies
#print("Unique companies:")
#for company in unique_companies_list:
#    print(company)

# Save the list of unique companies to a new file (optional)
pd.DataFrame(unique_companies_list, columns=['company']).to_csv('unique_companies.csv', index=False)

In [10]:
# Get unique job levels
unique_job_levels = df['job level'].unique()

# Get unique job types
unique_job_types = df['job_type'].unique()

print("Unique Job Levels:", unique_job_levels)
print("Unique Job Types:", unique_job_types)

Unique Job Levels: ['Mid senior' 'Associate']
Unique Job Types: ['Remote' 'Onsite' 'Hybrid']

In [11]:
# Count occurrences of each job level
job_level_counts = df['job level'].value_counts()

# Count occurrences of each job type
job_type_counts = df['job_type'].value_counts()

print("Job Level Counts:")
print(job_level_counts)
print("Job Type Counts:")
print(job_type_counts)

Job Level Counts:
job level
Mid senior    77102
Associate     12149
Name: count, dtype: int64
Job Type Counts:
job_type
Onsite    41040
Hybrid    26174
Remote    22037
Name: count, dtype: int64

In [12]:
# Find unique countries
unique_countries = df['job_location'].unique()

# Print the unique countries
print(unique_countries)

['Nova Scotia, Canada' 'Newark, DE' 'Toronto, Ontario, Canada' ...
 'Rugeley, England, United Kingdom' 'Marina del Rey, CA'
 'Chippendale, New South Wales, Australia']

In [13]:
# Split the job_location column by commas
df[['job_city', 'job_country']] = df['job_location'].str.rsplit(',', n=1, expand=True)

# Clean up any extra spaces
df['job_city'] = df['job_city'].str.strip()
df['job_country'] = df['job_country'].str.strip()

# Display the first few rows with city and country columns
print(df[['company', 'job_city', 'job_country']].head())
df.drop(columns=['first_seen'], inplace=True)

                       company          job_city job_country
0                  CrowdStrike       Nova Scotia      Canada
1                        Modis            Newark          DE
2              SimplyAnalytics  Toronto, Ontario      Canada
3  Changing Technologies, Inc.          Johnston          IA
4                ClearanceJobs          Kirtland          NM

In [14]:
# Get unique countries
unique_countries = df['job_country'].unique()

# Count null values in the 'country' column
null_values_count = df['job_country'].isnull().sum()

# Print the results
print("Unique countries:")
print(unique_countries)

print("\nNumber of null values in 'country' column:", null_values_count)

Unique countries:
['Canada' 'DE' 'IA' 'NM' 'United States' 'GA' 'NY' 'RI' 'CA' 'WA' None
 'AL' 'CO' 'United Kingdom' 'CT' 'TX' 'MN' 'Australia' 'WI' 'MI' 'IL' 'FL'
 'NH' 'NV' 'UT' 'KS' 'OK' 'PA' 'MA' 'MT' 'SC' 'VA' 'NJ' 'ME' 'IN' 'WV'
 'OH' 'MO' 'AZ' 'MD' 'NC' 'AR' 'OR' 'TN' 'DC' 'LA' 'KY' 'ND' 'NE' 'HI'
 'Ohio Metropolitan Area' 'Texas Metropolitan Area'
 'New York Metropolitan Area' 'ID' 'VT' 'SD' 'MS' 'Mexico' 'Alabama Area'
 'WY' 'Oregon Metropolitan Area' 'North Carolina Metropolitan Area' 'AK'
 'South Carolina Metropolitan Area' 'Maine Metropolitan Area'
 'South Carolina Area' 'Indiana Metropolitan Area'
 'Louisiana Metropolitan Area' 'MI Area']

Number of null values in 'country' column: 4223

In [15]:
# Copy the city value to country where country is null
df['job_country'] = df['job_country'].fillna(df['job_city'])
null_values_count = df['job_country'].isnull().sum()
print("\nNumber of null values in 'country' column:", null_values_count)
df.shape[0]

Number of null values in 'country' column: 0

89251

In [16]:
# Assuming 'df' is your DataFrame

# Get unique job titles and print them
unique_designation = df['job_title'].unique()
print("Unique Job Titles:")
print(unique_designation)

# Count the number of unique job titles
unique_designation_count = len(unique_designation)
print(f"\nTotal unique job titles: {unique_designation_count}")

# Drop the 'job_location' column
#df.drop('job_location', axis=1, inplace=True)
#print("\n'job_location' column dropped.")

Unique Job Titles:
['Sr. Software Engineer – Distributed Graph Storage Systems (Remote, CAN) (Var 15)'
 'Java Software Engineer (Var 28)'
 'Senior Software Engineer (Backend) (Var 65)' ...
 'Real Time Software Engineer 3'
 '6J7BI4-Software Engineer 4 - 6D6-Real Time Software Engineer'
 '6J7BI3-Software Engineer 3 - 6D6-Real Time Software Engineer with Security Clearance']

Total unique job titles: 52065

In [17]:
print(df['job_skills'].iloc[0:3])
# Check for null values in the 'job_skills' column
null_values = df['job_skills'].isnull().sum()

# Print the number of null values
print(f'Number of null values in job_skills: {null_values}')

0    ['Go', ' Java', ' Python', ' Git', ' Cassandra...
1    ['J2EE', ' Java', ' Struts', ' Spring', ' Spri...
2    ['PHP', ' Python', ' Dask', ' Dagster', ' Post...
Name: job_skills, dtype: object
Number of null values in job_skills: 0

In [18]:
from collections import Counter

# Split 'job_skills' into individual skills and clean up the list
if 'job_skills' in df.columns:
    df['skills_list'] = df['job_skills'].str.split(r'[,\n;]+').apply(lambda x: [skill.strip() for skill in x if skill.strip()])

    # Count the frequency of each skill
    all_skills = [skill for sublist in df['skills_list'].dropna() for skill in sublist]
    skill_counts = Counter(all_skills)
    
    # Display the most common skills
    print("\nMost common skills in the dataset:")
    for skill, count in skill_counts.most_common(10):
        print(f"{skill}: {count}")

    # Display processed data with extracted skills
    print("\nProcessed Data:")
    print(df[['job_title', 'job_skills', 'skills_list']].head())
else:
    print("Warning: 'job_skills' column not found, skipping skill extraction.")

Most common skills in the dataset:
' Python': 27986
' AWS': 22942
' SQL': 20698
' JavaScript': 20240
' Java': 18711
' Agile': 16457
' Kubernetes': 14824
' Git': 14481
' Docker': 14207
' React': 12922

Processed Data:
                                           job_title  \
0  Sr. Software Engineer – Distributed Graph Stor...
1                    Java Software Engineer (Var 28)
2        Senior Software Engineer (Backend) (Var 65)
3                  Senior Software Engineer (Var 46)
4  Senior Software Engineer with Security Clearan...

                                          job_skills  \
0  ['Go', ' Java', ' Python', ' Git', ' Cassandra...
1  ['J2EE', ' Java', ' Struts', ' Spring', ' Spri...
2  ['PHP', ' Python', ' Dask', ' Dagster', ' Post...
3  ['Java', ' React', ' Springboot', ' AWS', ' No...
4  ['C++', ' Python', ' MATLAB', ' Visual Basic',...

                                         skills_list
0  [['Go', ' Java', ' Python', ' Git', ' Cassandr...
1  [['J2EE', ' Java', ' Struts', ' Spring', ' Spr...
2  [['PHP', ' Python', ' Dask', ' Dagster', ' Pos...
3  [['Java', ' React', ' Springboot', ' AWS', ' N...
4  [['C++', ' Python', ' MATLAB', ' Visual Basic'...

In [19]:
from collections import Counter
import pandas as pd

# Sample DataFrame (replace with your actual DataFrame)
# df = pd.read_csv('your_dataset.csv')

# Split 'job_skills' into individual skills and clean up the list
if 'job_skills' in df.columns:
    df['skills_list'] = df['job_skills'].str.split(r'[,\n;]+').apply(lambda x: [skill.strip() for skill in x if skill.strip()])

    # Count the frequency of each skill
    all_skills = [skill for sublist in df['skills_list'].dropna() for skill in sublist]
    skill_counts = Counter(all_skills)
    
    # Display the most common skills (top 10)
    print("\nMost common skills in the dataset:")
    most_common_skills = skill_counts.most_common(10)
    for skill, count in most_common_skills:
        print(f"{skill}: {count}")
    
    # Total most common skills (top 10)
    total_most_common_skills = len(most_common_skills)
    print(f"\nTotal most common skills (top 10): {total_most_common_skills}")

    # Display the first 6 unique skills and their counts
    print("\nFirst 6 unique skills and their counts:")
    for skill, count in list(skill_counts.items())[:6]:  # Limiting to first 6 skills
        print(f"{skill}: {count}")
    
    # Count the number of unique skills
    unique_skills_count = len(skill_counts)
    print(f"\nTotal unique skills: {unique_skills_count}")

    # Display processed data with extracted skills
    print("\nProcessed Data:")
    print(df[['job_title', 'company', 'job_skills', 'skills_list']].head())

    # Create a CSV file with the job title, company, job skills, and the processed skills list
    output_file = 'processed_job_skills.csv'
    df[['job_title', 'company', 'job_skills', 'skills_list']].to_csv(output_file, index=False)

    print(f"\nCSV file created: {output_file}")
else:
    print("Warning: 'job_skills' column not found, skipping skill extraction.")

Most common skills in the dataset:
' Python': 27986
' AWS': 22942
' SQL': 20698
' JavaScript': 20240
' Java': 18711
' Agile': 16457
' Kubernetes': 14824
' Git': 14481
' Docker': 14207
' React': 12922

Total most common skills (top 10): 10

First 6 unique skills and their counts:
['Go': 870
' Java': 18711
' Python': 27986
' Git': 14481
' Cassandra': 1661
' Kafka': 3778

Total unique skills: 35881

Processed Data:
                                           job_title  \
0  Sr. Software Engineer – Distributed Graph Stor...
1                    Java Software Engineer (Var 28)
2        Senior Software Engineer (Backend) (Var 65)
3                  Senior Software Engineer (Var 46)
4  Senior Software Engineer with Security Clearan...

                       company  \
0                  CrowdStrike
1                        Modis
2              SimplyAnalytics
3  Changing Technologies, Inc.
4                ClearanceJobs

                                          job_skills  \
0  ['Go', ' Java', ' Python', ' Git', ' Cassandra...
1  ['J2EE', ' Java', ' Struts', ' Spring', ' Spri...
2  ['PHP', ' Python', ' Dask', ' Dagster', ' Post...
3  ['Java', ' React', ' Springboot', ' AWS', ' No...
4  ['C++', ' Python', ' MATLAB', ' Visual Basic',...

                                         skills_list
0  [['Go', ' Java', ' Python', ' Git', ' Cassandr...
1  [['J2EE', ' Java', ' Struts', ' Spring', ' Spr...
2  [['PHP', ' Python', ' Dask', ' Dagster', ' Pos...
3  [['Java', ' React', ' Springboot', ' AWS', ' N...
4  [['C++', ' Python', ' MATLAB', ' Visual Basic'...

CSV file created: processed_job_skills.csv

In [26]:
df.dtypes

job_title                 object
company                   object
job_location              object
job_link                  object
search_city               object
search_country            object
job level                 object
job_type                  object
job_summary               object
job_skills                object
date_posted       datetime64[ns]
job_city                  object
job_country               object
skills_list               object
dtype: object

In [27]:
# Summary statistics of the "Total_applicants" column
df["company"].describe()

count                 89251
unique                 3369
top       Jobs for Humanity
freq                   6509
Name: company, dtype: object

In [28]:
# Summary statistics of the "Total_applicants" column
df["job level"].describe()

count          89251
unique             2
top       Mid senior
freq           77102
Name: job level, dtype: object

In [29]:
# Summary statistics of the "Total_applicants" column
df["job_type"].describe()

count      89251
unique         3
top       Onsite
freq       41040
Name: job_type, dtype: object

In [30]:
# Summary statistics of the "Total_applicants" column
df["job_country"].describe()

count              89251
unique               133
top       United Kingdom
freq               10428
Name: job_country, dtype: object